    <!--{{controller.message}}-->
<section class="jumbotron text-xs-center">
    <div class="container">
        <h3 class="jumbotron-heading">Eonnauto About</h3>
        <p class="lead text-muted">
            If your tired of been sold the same service over and over again everytime you take your vehicle for service, simply because you couldnt remember your last service repair, then your in the right place.
            <br />
            <br />
            Eonnauto car management platform helps you do just that by allowing you to store and track all your vehicle Multi-point inspections (MPI). Keeping track of your vehicle maintenance will help retain the value of your vehicle if you plan trading it in or selling it.
        </p>
        <p>
            <a href="/register" class="btn btn-primary">Join EonnAuto</a>
            <a href="/login" class="btn btn-secondary">My Account</a>
        </p>
    </div>
</section>
<div class="col-md-5">
    <img class="figure-img img-fluid rounded" src="http://auto7inc.com/img/Car_A.jpg" width="550" height="850">
</div>
<p class="lead text-muted">
    So if your tired of not been able to keep track of all your vehicle maintenance service repairs and various component conditions like suspension system, brake system, steering system, etc., then your in the right place. Eonnauto platform helps its vehicle owners minimize unexpected car breakdown or repair expenses.
    <br />
    <br />
    Register to start tracking the condition of parts like Brake Pads, Shocks, Air filter, etc. yourself after taking your vehicle to the dealership for your regular maintenance repair and inspections. This will help you prevent major vehicle issues and repair cost in the future.
</p>