<section class="jumbotron text-xs-center">
    <div class="container">
        <h1 class="display-4">Your Vehicle Inspection History</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
            <a href="/register" class="btn btn-primary">Join EonnAuto</a>
            <a href="/login" class="btn btn-secondary">My Account</a>
        </p>
    </div>
</section>
        <div class="cover-container">
            <div class="container marketing">
                <img ng-src="{{controller.vehicle.vehiceUrl}}" class="rounded mx-auto d-block" width="556" height="480" />
                <br />
                    <ul class="list-unstyled text-xs-center">
                        <li><strong class="card-subtitle text-muted"> Year:</strong>  {{controller.vehicle.year}}</li>
                        <li><strong class="card-subtitle text-muted"> Make:</strong>  {{controller.vehicle.make}}</li>
                        <li><strong class="card-subtitle text-muted"> Model:</strong>  {{controller.vehicle.model}}</li>
                        <li><strong class="card-subtitle text-muted"> Trim:</strong>  {{controller.vehicle.trim}}</li>
                        <li><strong class="card-subtitle text-muted"> Eng-Size:</strong>  {{controller.vehicle.engsize}}</li>
                    </ul>  
            </div>
        </div>
 
        <div>
            <input type="button" class="btn btn-outline-danger" value="Delete Vehicle" ng-click="controller.deleteVehicle()" />
        </div>

        <hr />

       <!--Collapse Your Vehicle Inspection-->
<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Your <strong class="card-subtitle text-muted">{{controller.vehicle.make}}</strong> Inspections
</a>
            </h5>
        </div>

        <!--Collapse Your Vehicle Inspection Vehicle-->
        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block" ng-repeat="inspection in controller.vehicle.inspection">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Inspections</h4>
                        Date: {{inspection.date | date: 'MMMM, d, yyyy'}}
                        <br />
                        Mileage: {{inspection.mileage}}
                        <br />
                        Brake: {{inspection.brake}}
                        <br />
                        Rotor: {{inspection.rotor}}
                        <br />
                        Tire: {{inspection.tire}}
                        <br />
                        Shock: {{inspection.shock}}
                        <br />
                        <br />
                        <div>
                            <input type="button" class="btn btn-outline-danger" value="Delete Inspection" ng-click="controller.deleteInspection(inspection, inspection.id)" />
                        </div>
                </div>
                

                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Edit Inspection</h3>
                            <form ng-submit="controller.editInspection(inspection)" class="form-group">
                                
                                <!--Edit Mileage-->
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-outline-secondary" type="button">Current  Mileage</button>
                                    </span>
                                    <input type="text" ng-model="inspection.mileage" placeholder="Mileage" class="form-control" />
                                </div>
                                <br />
                                <!--Edit Brakes-->
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-outline-secondary" type="button">Brakes Condition</button>
                                    </span>
                                    <select class="custom-select form-control" ng-model="inspection.brake">  
                                        <option value="Good">Good</option>
                                        <option value="Fair">Fair</option>
                                        <option value="Replace">Replace</option>
                                        <option value="N/A">N/A</option>
                                    </select>  
                                </div>
                                <br />
                                <!--Edit Rotors-->
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-outline-secondary" type="button">Rotors Condition</button>
                                    </span>
                                    <select class="custom-select form-control" ng-model="inspection.rotor">
                                        <option value="Good">Good</option>
                                        <option value="Fair">Fair</option>
                                        <option value="Replace">Replace</option>
                                        <option value="N/A">N/A</option>
                                    </select>
                                </div>
                                <br />
                                <!--Edit Tires-->
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-outline-secondary" type="button">4 Tire Condition   </button>
                                    </span>
                                    <select class="custom-select form-control" ng-model="inspection.tire">
                                        <option value="Good">Good</option>
                                        <option value="Fair">Fair</option>
                                        <option value="Replace">Replace</option>
                                        <option value="N/A">N/A</option>
                                    </select>
                                </div>
                                <br />
                                <!--Edit Shocks-->
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-outline-secondary" type="button">Shocks Condition</button>
                                    </span>
                                    <select class="custom-select form-control" ng-model="inspection.shock">
                                        <option value="Good">Good</option>
                                        <option value="Fair">Fair</option>
                                        <option value="Replace">Replace</option>
                                        <option value="N/A">N/A</option>
                                    </select>
                                </div>                                
                                <br />
                                <br />
                                <input type="submit" value="Edit" class="btn btn-outline-info" />
                            </form>
                        </div>
                    </div>
                    <hr class="featurette-divider" />
                </div>
            </div>
        </div>
    </div>



    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Add New Inspection
                </a>
            </h5>
        </div>
    </div>

    <!--Collapse Add New Vehicle Inspection-->
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
            <form ng-submit="controller.addInspection(inspection)">

                <input type="text" ng-model="inspection.mileage" placeholder="Mileage" />
                <input type="text" ng-model="inspection.brake" placeholder="Brake" />
                <input type="text" ng-model="inspection.rotor" placeholder="Rotor" />
                <input type="text" ng-model="inspection.tire" placeholder="Tire" />
                <input type="text" ng-model="inspection.shock" placeholder="Shock" />

                <input type="submit" value="save" />


            </form>
        </div>
    </div>
</div>
