
<div>

    <img ng-src="{{controller.vehicle.vehiceUrl}}" class="img-circle" />
    <h3>{{controller.vehicle.year}}</h3>
    <h3>{{controller.vehicle.make}}</h3>
    <h3>{{controller.vehicle.model}}</h3>
    <h3>{{controller.vehicle.trim}}</h3>
    <h3>{{controller.vehicle.engsize}}</h3>
</div>
<div>
    <input type="button" value="Delete Vehicle" ng-click="controller.deleteVehicle()" />
</div>

<hr />

<h1>Your Vehicle Inspections</h1>

<div ng-repeat="inspection in controller.vehicle.inspection">

    Date: {{inspection.date | date: 'MMMM d, yyyy'}}
    <br />
    Mileage: {{inspection.mileage}}
    <br />
    Brake: {{inspection.brake}}
    <br />
    Rotor: {{inspection.rotor}}
    <br />
    Tire: {{inspection.tire}}
    <br />
    Shock: {{inspection.shock}}
    <br />
    <br />

    <div>
        <input type="button" value="Delete Inspection" ng-click="inspection.deleteInspection()" />
    </div>

</div>
    <hr />

    <h1>Add New Inspection</h1>
    <form ng-submit="controller.addInspection(inspection)">
        <div>
            <input type="text" ng-model="inspection.mileage" placeholder="mileage" />
            <input type="text" ng-model="inspection.brake" placeholder="brake" />
            <input type="text" ng-model="inspection.rotor" placeholder="rotor" />
            <input type="text" ng-model="inspection.tire" placeholder="tire" />
            <input type="text" ng-model="inspection.shock" placeholder="shock" />

            <input type="submit" value="save" />

        </div>
    </form>

