<section class="jumbotron text-xs-center">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome To Eonnauto</h1>
            <p class="lead text-muted">Hmmm, I cant remember what conditions my Brake pads, air filter, Engine Oil.... are. I cant even find the <strong>Multi-Point Inspection (MPI) sheet</strong>  i got the last time i went in for service. Shit they will try to sell me what i dont need now at the dealership!</p>
            <p>
                <a href="/register" ng-show="!account.isLoggedIn()" class="btn btn-primary">Join EonnAuto</a>
                <a href="/login" ng-show="!account.isLoggedIn()" class="btn btn-secondary">My Account</a>


                <a href="/mycar" ng-show="account.isLoggedIn()" class="btn btn-primary">My Account</a>
                
            </p>
        </div>
    </section>

    <!-- START THE MARKETING -->
<div class="container marketing">
    
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">What the hell is <span class="text-muted">EonnAuto?</span></h2>
            <p class="lead">Well, if your tired of been sold the same service over and over again everytime you take your vehicle for service, simply because you just can't remember the last service repair done to your vehicle, then your in the right place.
            <br />
            EonnAuto has created this free platform just for you to easily track and manage all your vehicle maintenance and repair history. 
            <br />
            <br />
            Bamm, gat you. Now you know, create a home for each of your vehicle by simply Signup for free. Trust me no lease contract, no hidden fees, no ads, no homeowner association (HOA) fees, nothing. EonnAuto Homes are FREE for all cars. 
          </p>
        </div>
        <div class="col-md-5">
            <img class="figure-img img-fluid rounded" src="http://auto7inc.com/img/Car_A.jpg" width="550" height="850">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 push-md-5">
            <h2 class="featurette-heading">Start Tracking Your <span class="text-muted">Vehicle Maintenance yourself.</span></h2>
            <p class="lead">Below are list of items you can track.  </p>
            <ul>
                <li>Eng Oil Condition</li>
                <li>A/C Condition</li>
                <li>Radiator Condition</li>
                <li>Alternator Condition</li>
                <li>Belt/Hoses Condition</li>
                <li>Wheel Alignment Condition</li>
                <li>Brakes Condition</li>
                <li>Transmission Condition</li>
                <li>Disc/ Drum Condition</li>
                <li>Shocks/Struts Condition</li>
                <li>Axle Condition</li>
                <li>Exhaust Condition</li>
                <li>Rack & Pinion Condition</li>


            </ul>
            <p ><span class="text-muted"><strong>Ya Man.</strong> I told You, now you owe me.  </span></p>
        </div>
        <div class="col-md-5 pull-md-7">
            <img class="featurette-image img-fluid mx-auto" src="http://www.filtersfast.com/blog/wp-content/uploads/2012/09/Car-Repairs-And-Car-Maintenance.jpg" width="500" height="500">
        </div>
    </div>

    <!--<hr class="featurette-divider">-->

    <!--<div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="http://www.24x7shoponline.com/image/cache/catalog/a2b-kinsmart-die-cast-metal-bmw-x6-black8063/a2b-kinsmart-die-cast-metal-bmw-x6-black-a2585-500x500.jpeg" width="500" height="500">
        </div>
    </div-->><!-- /END THE FEATURETTES -->
</div><!-- /END THE MARKETING -->





