<section class="jumbotron text-xs-center">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome To Eonnauto</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            <p>
                <a href="/register" class="btn btn-primary">Join EonnAuto</a>
                <a href="/login" class="btn btn-secondary">My Account</a>
            </p>
        </div>
    </section>

    <!-- START THE MARKETING -->
<div class="container marketing">
    
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="figure-img img-fluid rounded" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTOdP4m0T141i1ZJHe3YeRDKKaYDGuqlKa3XyBdmxfH-UGT8gMv" width="400" height="300">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 push-md-5">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 pull-md-7">
            <img class="featurette-image img-fluid mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiooDmMaKWbvWJEcic0R-DIQd_rC6vUHQvIhCMQAVIHhJkxa-duQ" width="500" height="500">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="http://www.24x7shoponline.com/image/cache/catalog/a2b-kinsmart-die-cast-metal-bmw-x6-black8063/a2b-kinsmart-die-cast-metal-bmw-x6-black-a2585-500x500.jpeg" width="500" height="500">
        </div>
    </div><!-- /END THE FEATURETTES -->
</div><!-- /END THE MARKETING -->





