<h4 ng-show="account.isLoggedIn()"></h4>

<!--Modal-->
<div class="modal bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New Vehicle</h4>
                <form ng-submit="controller.save()">

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="controller.vehicle.vehiceUrl" placeholder="Image" />
                    </div>                
                    
                    <div class="form-group">
                        <select class="form-control" ng-model="controller.vehicle.year">
                            <option placeholder="Year"  ng-repeat="year in controller.years">{{year}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control" ng-model="controller.vehicle.make">
                            <option placeholder="Make" ng-repeat="make in controller.makes">{{make}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control" ng-model="controller.vehicle.model">
                            <option placeholder="Model" ng-repeat="model in controller.models">{{model}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control" ng-model="controller.vehicle.trim">
                            <option placeholder="Trim" ng-repeat="trim in controller.trims">{{trim}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control" ng-model="controller.vehicle.engSize">
                            <option placeholder="Eng-Size" ng-repeat="engSize in controller.engSizes">{{engSize}}</option>
                        </select>
                    </div>                    

                    <!--<div class="form-group">
                        <input type="text" class="form-control" ng-model="controller.vehicle.year" placeholder="Year" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="controller.vehicle.make" placeholder="Make" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="controller.vehicle.model" placeholder="Model" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="controller.vehicle.trim" placeholder="Trim" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="controller.vehicle.engsize" placeholder="Engsize" />
                    </div>-->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" value="Save Vehicle" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






<section class="jumbotron text-xs-center">
    <div class="container">
        <h1 class="display-4">Start Managing Your Cars</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Add New Vehicle</button>
            <a href="/" class="btn btn-secondary">Back To Home</a>
        </p>
    </div>
</section>
               
<br />
<br />
    <div class="container marketing">
        <div class="row" >
            <div class="col-lg-4" ng-repeat="vehicle in controller.vehicles">
                <img ng-src="{{vehicle.vehiceUrl}}" class="rounded" width="356" height="280"/>
                <br />
                <br />
                
                <ul class="list-unstyled">
                    <li><strong class="card-subtitle text-muted"> Year:</strong>  {{vehicle.year}}</li>
                    <li><strong class="card-subtitle text-muted"> Make:</strong>  {{vehicle.make}}</li>
                    <li><strong class="card-subtitle text-muted"> Model:</strong>  {{vehicle.model}}</li>
                    <li><strong class="card-subtitle text-muted"> Trim:</strong>  {{vehicle.trim}}</li>
                    <li><strong class="card-subtitle text-muted"> Eng-Size:</strong> {{vehicle.engSize}}</li>

                </ul>
                
                <a class="btn btn-outline-info" ui-sref="detail({id: vehicle.id})" role="button">View Inspections &raquo;</a>
                
                <hr class="featurette-divider" />
            </div>
        </div>
    </div>






     

        


        




